[*.cs]

# UNT0008: Null propagation on Unity objects
dotnet_diagnostic.unt0008.severity=suggestion

[*.{c,c++,cc,cp,cpp,cu,cuh,cxx,h,hh,hpp,hxx,inc,inl,ino,ipp,mpp,proto,tpp}]
indent_style=tab
indent_size=tab
tab_width=4

[*.{asax,ascx,aspx,cs,cshtml,css,htm,html,js,jsx,master,razor,skin,ts,tsx,vb,xaml,xamlx,xoml}]
indent_style=space
indent_size=4
tab_width=4

[*.{appxmanifest,asmdef,build,config,csproj,dbml,discomap,dtd,json,jsproj,lsproj,njsproj,nuspec,proj,props,resjson,resw,resx,StyleCop,targets,tasks,vbproj,xml,xsd}]
indent_style=space
indent_size=2
tab_width=2

[*]

# Microsoft .NET properties
csharp_new_line_before_open_brace=all
csharp_preferred_modifier_order=public, protected, internal, private, static, new, abstract, virtual, override, sealed, readonly, extern, unsafe, volatile, async:suggestion
csharp_prefer_braces=true:suggestion
csharp_space_after_cast=false
csharp_style_expression_bodied_methods=false:suggestion
csharp_style_var_elsewhere=true:suggestion
csharp_style_var_for_built_in_types=true:suggestion
csharp_style_var_when_type_is_apparent=true:suggestion
csharp_using_directive_placement=inside_namespace:silent
dotnet_style_predefined_type_for_locals_parameters_members=true:hint
dotnet_style_predefined_type_for_member_access=true:hint
dotnet_style_qualification_for_event=false:hint
dotnet_style_qualification_for_field=true:hint
dotnet_style_qualification_for_method=false:hint
dotnet_style_qualification_for_property=false:hint
dotnet_style_require_accessibility_modifiers=for_non_interface_members:hint

# ReSharper properties
resharper_align_linq_query=true
resharper_align_multiline_array_and_object_initializer=true
resharper_align_multiline_binary_expressions_chain=true
resharper_align_multiline_calls_chain=true
resharper_align_multiline_expression=true
resharper_align_multiline_extends_list=true
resharper_align_multiline_for_stmt=true
resharper_align_multline_type_parameter_constrains=true
resharper_align_multline_type_parameter_list=true
resharper_apply_on_completion=true
resharper_blank_lines_after_control_transfer_statements=1
resharper_blank_lines_around_single_line_auto_property=1
resharper_blank_lines_around_single_line_property=1
resharper_blank_lines_before_single_line_comment=1
resharper_braces_for_for=required
resharper_braces_for_foreach=required
resharper_braces_for_ifelse=required
resharper_braces_for_while=required
resharper_cpp_anonymous_method_declaration_braces=end_of_line
resharper_cpp_case_block_braces=end_of_line
resharper_cpp_empty_block_style=together_same_line
resharper_cpp_indent_switch_labels=true
resharper_cpp_int_align_comments=true
resharper_cpp_keep_blank_lines_in_code=1
resharper_cpp_keep_blank_lines_in_declarations=1
resharper_cpp_new_line_before_catch=false
resharper_cpp_new_line_before_else=false
resharper_cpp_new_line_before_while=false
resharper_cpp_other_braces=end_of_line
resharper_cpp_simple_embedded_statement_style=on_single_line
resharper_cpp_wrap_before_ternary_opsigns=false
resharper_cpp_wrap_lines=false
resharper_csharp_align_multiline_parameter=true
resharper_csharp_align_multiple_declaration=true
resharper_csharp_anonymous_method_declaration_braces=next_line_shifted_2
resharper_csharp_blank_lines_around_single_line_invocable=1
resharper_csharp_case_block_braces=next_line
resharper_csharp_keep_blank_lines_in_code=1
resharper_csharp_keep_blank_lines_in_declarations=1
resharper_csharp_keep_existing_linebreaks=false
resharper_csharp_max_line_length=120
resharper_csharp_new_line_before_while=true
resharper_csharp_place_type_constraints_on_same_line=false
resharper_csharp_stick_comment=false
resharper_csharp_use_indent_from_vs=false
resharper_csharp_wrap_after_declaration_lpar=false
resharper_csharp_wrap_after_invocation_lpar=true
resharper_csharp_wrap_arguments_style=chop_if_long
resharper_csharp_wrap_before_first_type_parameter_constraint=true
resharper_csharp_wrap_chained_method_calls=chop_if_long
resharper_csharp_wrap_extends_list_style=chop_if_long
resharper_csharp_wrap_parameters_style=chop_if_long
resharper_enforce_line_ending_style=true
resharper_force_attribute_style=separate
resharper_for_built_in_types=use_var
resharper_for_simple_types=use_var
resharper_function_declaration_return_type_style=on_single_line
resharper_function_definition_return_type_style=on_single_line
resharper_indent_nested_foreach_stmt=true
resharper_indent_nested_for_stmt=true
resharper_indent_nested_while_stmt=true
resharper_initializer_braces=next_line_shifted_2
resharper_instance_members_qualify_declared_in=this_class
resharper_keep_existing_declaration_parens_arrangement=false
resharper_keep_existing_initializer_arrangement=false
resharper_keep_existing_invocation_parens_arrangement=false
resharper_keep_existing_linebreaks=false
resharper_keep_user_linebreaks=false
resharper_line_break_after_comma_in_member_initializer_lists=true
resharper_linkage_specification_braces=next_line
resharper_local_function_body=expression_body
resharper_max_formal_parameters_on_line=4
resharper_max_invocation_arguments_on_line=4
resharper_member_initializer_list_style=on_single_line
resharper_method_or_operator_body=block_body
resharper_new_line_before_while=false
resharper_parentheses_non_obvious_operations=multiplicative, additive, arithmetic, shift, bitwise_and, bitwise_exclusive_or, bitwise_inclusive_or, bitwise, conditional_and, conditional_or, conditional
resharper_place_attribute_on_same_line=False
resharper_place_constructor_initializer_on_same_line=false
resharper_place_simple_accessor_on_single_line=false
resharper_place_simple_embedded_statement_on_same_line=True
resharper_simple_case_statement_style=line_break
resharper_space_after_cast=false
resharper_space_before_initializer_braces=true
resharper_space_within_initializer_braces=true
resharper_space_within_single_line_array_initializer_braces=true
resharper_toplevel_function_declaration_return_type_style=on_single_line
resharper_toplevel_function_definition_return_type_style=on_single_line
resharper_use_indent_from_vs=false
resharper_wrap_after_declaration_lpar=false
resharper_wrap_array_initializer_style=chop_always
resharper_wrap_braced_init_list_style=chop_if_long

# ReSharper inspection severities
resharper_arrange_local_function_body_highlighting=suggestion
resharper_arrange_method_or_operator_body_highlighting=suggestion
resharper_convert_to_auto_property_highlighting=hint
resharper_convert_to_null_coalescing_compound_assignment_highlighting=none
resharper_cpp_non_reclaimed_resource_acquisition_highlighting=warning
resharper_delegate_subtraction_highlighting=hint
resharper_missing_annotation_highlighting=none
resharper_redundant_base_qualifier_highlighting=warning
resharper_region_with_single_element_highlighting=none
resharper_style_cop_sa1101_highlighting=none
resharper_style_cop_sa1121_highlighting=none
resharper_style_cop_sa1126_highlighting=none
resharper_style_cop_sa1401_highlighting=none
resharper_style_cop_sa1600_highlighting=none
resharper_style_cop_sa1649_highlighting=hint
resharper_style_cop_sa1650_highlighting=hint
resharper_unity_no_null_propagation_highlighting=hint
resharper_unused_member_global_highlighting=hint
resharper_use_object_or_collection_initializer_highlighting=hint

[*.{appxmanifest,asax,ascx,asmdef,aspx,build,c,c++,cc,config,cp,cpp,cs,cshtml,csproj,css,cu,cuh,cxx,dbml,discomap,dtd,h,hh,hpp,htm,html,hxx,inc,inl,ino,ipp,js,json,jsproj,jsx,lsproj,master,mpp,njsproj,nuspec,proj,props,proto,razor,resjson,resw,resx,skin,StyleCop,targets,tasks,tpp,ts,tsx,vb,vbproj,xaml,xamlx,xml,xoml,xsd}]
indent_style=space
indent_size=4
tab_width=4
